.jumbotron{
    color: blanchedalmond;
    margin-top: 40px;
}

nav{
    background-color: #38F31A;
    color: black;

}

.img-fluid{
    height: 275px;
    width: 100%;
}

footer{
    background-color: #38F31A;
    padding: 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.btn-reserva{
    width: 75%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.pay-card{
    margin-right: 5px;
}

.card-pc{
    margin-bottom: 15px;
}


/* 
.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;

}

footer {
    padding: 10px 10px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel{
     1-> se mantiene intacta. 2-> el doble del tamaño
    150px -> especifica el ancho definido 
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 10px;

}

.footer-adress-icon{
    padding-right: 10px;
}

.form-check {
    margin-bottom: 10px;
}

.img-fluid{
    width: 100%;
}  */
